---
// src/components/Footer.astro
---
<footer class="footer">
    <p>© 2025 | wnffldktm from <a href="#">Arbeit na Kollektiven</a></p>
    <div class="social-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
    </div>
</footer>