:root {
    --font-headline: 'Lora', serif;
    --font-body: 'Inter', sans-serif;
    --color-primary-dark: #122241;
    --color-primary-accent: #AE9065;
    --color-white: #ffffff;
    --color-text-light: #f0f0f0;
    --nav-height-collapsed: 5rem;
    --transition-duration: 0.4s;
}
