* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    line-height: 1.6;
    background-color: #f4f5f6;
    transition: transform var(--transition-duration) ease-in-out;
}

/* MODIFIER on <body> block when nav is open */
body.nav-expanded {
    overflow: hidden; /* Prevents scrolling of the main content when menu is open */
}